.icon-button {

    display: flex;
    align-items: center;
    color: white;

    svg {
        width: 14px;
        height: 14px;
        display: inline-block;


        path {
            fill: currentColor !important
        }
    }

}